.project-cards {
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.card {
width: 30rem;
}

h3 {
  text-align: left;
}

img {
  width: 100%;
}

.card-image {
  border: 1rem white solid;
  margin-top: 5rem;
}