/* MOBILE */
.about-cards {
  display: flex;
  flex-direction: column;
}

.about-card {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

h4 {
  text-align: center;
}

.about-card img {
  width: 20rem;
}

.about-card-image {
  /* margin-right: 5rem; */
}


/* TABLETS */
@media only screen and (min-width: 600px) {}

/* DESKTOPS */
@media only screen and (min-width: 768px) {
  .about-card {
    justify-content: left;
    flex-wrap: nowrap;
  }

  .about-card h4 {
    text-align: left;
    margin: 0 0 1rem 0;
  }

  .about-card-image {
    margin-right: 3rem;
  }
}

.language-progress {
  padding: 5rem 0;
}

progress[value] {
  width: 100%;
  margin: 1rem 0;
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

}

progress[value]::-webkit-progress-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  /* color: white; */

}

progress[value]::-webkit-progress-value {
  background-color: #30AD6A;
  border-radius: 3px;

}

progress {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

progress[value]::-moz-progress-bar {
  background-color: #30AD6A;
  border-radius: 3px;
}