.sidebar {
  width: 16rem;
  min-height: 100vh;
  background-color: #090927;
  opacity: 95%;
  padding: 2rem 3rem;
  z-index: 4;
  font-family: Helvetica, sans-serif;
  position: fixed;
  top: 0;
  right: 0;

  .icon {
    a {
      font-size: 2rem;
      color: white;
      float: right;
    }
  }

  .sidebar-links {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

    a {
      color: white;
      font-weight: 500;
      padding: .5rem .5rem;
      margin: 1rem;
      font-size: 1.4rem;
    }

    a:hover {
      border-bottom: .2rem solid lightblue;
    }
  }

  @media screen and (min-width: 600px) {
    display: none;
  }
}

.close {
  display: none;
}