.App {
  font-family: "Philosopher", sans-serif;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  position: relative;
}

a {
  text-decoration: none;
}

.main {
  grid-area: main;
  position: relative;
  top: -7rem;
}