.App {
  font-family: "Philosopher", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  position: relative;
}

a {
  text-decoration: none;
}

.main {
  grid-area: main;
  position: relative;
  top: -7rem;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: .08rem;
}


h3 {
  font-size: 3rem;
  letter-spacing: .08rem;

}

h4 {
  font-size: 2.5rem;
  letter-spacing: .05rem;
}

hr {
  height: .4rem;
  color: #30AD6A;
  background-color: #30AD6A;
  border-width: 0;
}

p {
  color: #b7b7b7;
  line-height: 3.5rem;
  font-family: "Muli", Sans-serif;
}

.section {
  padding: 5rem 10rem;
  background-color: #090927;
  color: #ffffff;
}


.section > hr {
  width: 60rem;
}
