.work-cards {
  display: flex;
  flex-direction: column;
}

.work-card {
  display: flex;
  margin-top: 5rem;
  /* flex-wrap: wrap; */
  }
  
  h4 {
    text-align: left;
  }
  
  .work-card img {
    width: 20rem;
  }
  
  .work-card-image {
    margin-right: 5rem;
  }