/* MOBILE */
.work-cards {
  display: flex;
  flex-direction: column;
}

.work-card {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap;

  .work-card-text{
    a {
        color: #b7b7b7;
        text-decoration: underline;
    }
  }
}

h4 {
  text-align: center;
}

.work-card img {
  width: 10rem;
}

.work-card-image {
  /* margin-right: 5rem; */
}


/* TABLETS */
@media only screen and (min-width: 600px) {}

/* DESKTOPS */
@media only screen and (min-width: 768px) {
  .work-card {
    justify-content: left;
    flex-wrap: nowrap;
  }

  .work-card h4 {
    text-align: left;
    margin: 0 0 1rem 0;
  }

  .work-card-image {
    margin-right: 3rem;
  }

  .work-card img {
    width: 15rem;
  }

}